html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

body{}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;outline: none;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

a
{
  color: #524F46;
  outline: none;
}

body
{
  font: 15px  Verdana, sans-serif;
  background-color: #fff;
}

#container
{
  margin-left: auto;
  margin-right: auto;
  background: #fff url(../images/bg-page.png) bottom repeat-x;
}



.header
{
  width:1200px; height:90px;  margin:0 auto; display:table; background-color: #66CCCC;
  -webkit-border-radius:8px;
 -moz-border-radius:8px;
 border-radius:8px;
}

.header > .Title
{
  width:900px;  
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}

.header > .Title a
{
	  text-decoration: none;
}

.header > .Register
{
  width:300px; 
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.header > .Register .button_round
{
 -webkit-border-radius:8px;
 -moz-border-radius:8px;
 border-radius:8px;
 padding: 5px;
 background: #CC66FF;
}

.header > .Register a
{
	 color: #FFFFFF; text-decoration: none;
}

#content-wrap
{
  margin: 20px;
}

#content-wrap
{
  width:1000px; margin:0 auto;
}

.content
{
    background-color: #CCFFFF;
}

#search {padding:10px;}
#abonents {padding:10px;}

.footer
{
  width:1200px; height:60px; margin:0 auto; display:table; font-size:11px; background-color: #66CCCC;
  -webkit-border-radius:8px;
 -moz-border-radius:8px;
 border-radius:8px;
}

.footer  > .abonent_base
{
	width:300px;   padding: 0 10px 0 10px; 
	display: table-cell;
	vertical-align: middle;
}

.header h1
{
  font: helvetica; font-size:25px;
}

.header h1 a {
 
}

table.abonents
{
	margin:0 auto;
}

table.abonents td
{
	padding:10px;
}

table.abonents strong
{
	font-weight:bold;
}

table.abonents .odd
{
	background-color: #CCFFCC;
}

div .form_title h2
 {
	font-size: 15px; font-weight:bold;
 }